.settings-overlay {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      display: flex;
      justify-content: center;
      z-index: 1;
      overflow-y: scroll;
}

.settings-overlay::-webkit-scrollbar {
      width: 5px;
      background-color: white;
}

.settings-overlay::-webkit-scrollbar-thumb {
      background-color: black;
}

.settings-overlay-close-button {
      position: absolute;
      right: 5px;
      top: 5px;
      cursor: pointer;
}

.settings {
      padding: 20px;
      border-radius: 20px;
      width: 90%;
      margin: 20px;
}

.controller-settings-heading {
      color: white;
      font-size: 30px;
      margin-top: 20px;
}
.connected-controllers {
      display: flex;
      margin-top: 20px;
      flex-direction: column;
}

.controller-active {
      background-color: green;
}
