.controller-settings-heading {
      color: white;
      font-size: 30px;
      margin-top: 20px;
}
.connected-controllers {
      display: flex;
      margin-top: 20px;
}

.controller-active {
      background-color: green;
}
