.page {
      width: 100vw;
      height: 100vh;
      display: flex;
      align-items: center;
      justify-content: center;
      font-family: cursive;
      animation: none !important;
}

.main {
      display: flex;
      width: 100%;
      justify-content: space-around;
}
