.options {
      position: absolute;
      top: 0;
      background-color: white;
      border-radius: 5px;
      top: 30px;
      left: 0;
      right: 0;
      z-index: 1;
}
.option {
      color: black;
}

.option:focus {
      background-color: black;
      color: white;
}

.option:hover {
      background-color: black;
      color: white;
}
