.options {
      position: absolute;
      top: 0;
      background-color: white;
      border-radius: 5px;
      top: 30px;
      left: 0;
      right: 0;
      z-index: 1;
}

.options-theme-0 {
      background: linear-gradient(rgba(255, 0, 0, 0.3), rgba(255, 0, 0, 0.3));
      background-color: black;
}
.options-theme-1 {
      background: linear-gradient(rgba(0, 255, 0, 0.3), rgba(0, 0, 0, 0.3));
      background-color: black;
}
.options-theme-2 {
      background: linear-gradient(rgba(128, 0, 128, 0.4), rgba(0, 0, 0, 0.6));
      background-color: black;
}
.options-theme-3 {
      background: linear-gradient(rgba(255, 255, 0, 0.4), rgba(0, 0, 0, 0.6));
      background-color: black;
}
.option {
      color: white;
}

.option:focus {
      background-color: black;
      color: white;
}

.option-theme-0:focus {
      box-shadow: 0 0 10px rgba(255, 0, 0, 1);
      background-color: rgba(255, 0, 0, 0.3);
      border: 2px solid rgba(255, 0, 0, 1);
}
.option-theme-1:focus {
      border: 2px solid rgba(0, 255, 0, 1);
      background-color: rgba(0, 255, 0, 0.3);
      box-shadow: 0 0 10px rgba(0, 255, 0, 1);
}
.option-theme-2:focus {
      border: 2px solid rgba(128, 0, 128, 1);
      background-color: rgba(128, 0, 128, 0.3);
      box-shadow: 0 0 10px rgba(128, 0, 128, 1);
}
.option-theme-3:focus {
      border: 2px solid rgba(255, 255, 0, 1);
      background-color: rgba(255, 255, 0, 0.3);
      box-shadow: 0 0 10px rgba(255, 255, 0, 1);
}

.option:hover {
      background-color: black;
      color: white;
}
