.player-result {
      color: white;
      padding: 5px;
      margin: 10px;
}

.player-result-theme-0 {
      border: 2px solid rgba(255, 0, 0, 1) !important;
}
.player-result-theme-1 {
      border: 2px solid rgba(0, 255, 0, 1) !important;
}

.player-result-theme-2 {
      border: 2px solid rgba(128, 0, 128, 1) !important;
}

.player-result-theme-3 {
      border: 2px solid rgba(255, 255, 0, 1) !important;
}

.player-number {
      text-align: center;
      font-size: 25px;
      color: black;
      margin: 5px;
      margin-bottom: 10px;
      font-weight: bold;
}

.player-stat {
      margin: 5px;
      font-size: 20px;
      display: flex;
      justify-content: space-between;
      width: 250px;
      padding: 3px;
}
