.game-result-section {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(0, 0, 0, 0.8);
      z-index: 1000;
}
.page-animation {
      animation: opacity-animation 0.5s ease-in-out;
      opacity: 1;
}

@keyframes opacity-animation {
      from {
            opacity: 0;
      }
      to {
            opacity: 1;
      }
}

.game-result-container {
      display: flex;
      padding-bottom: 30px;
      position: relative;
      z-index: 100;
}

.play-again-button {
      cursor: pointer;
      color: white;
      padding-left: 10px;
      padding-right: 10px;
      padding-top: 5px;
      padding-bottom: 5px;
      font-size: 20px;
}
