.settings-overlay {
      position: absolute;
      top: 0;
      bottom: 0;
      background-color: teal;
      left: 0;
      right: 0;
      display: flex;
      justify-content: center;
      z-index: 1;
}
.settings-overlay-close-button {
      position: absolute;
      right: 5px;
      top: 5px;
      cursor: pointer;
}

.settings {
      background-color: teal;
      padding: 20px;
      border-radius: 20px;
      width: 90%;
      margin: 20px;
}
